<footer>
    <div class="footer-wrappr">
        <div class="footer-top">

            <section class="wantToWork-area ">
                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-5 col-lg-6 col-md-10">
                                <div class="wantToWork-caption">
                                    <img src="../assets/img/logo/logo2_footer.png" alt="" class="mb-15">
                                    <p>In the mean time shall soon find out the cause of this: What
                                        was the epicurus towards their children.
                                    </p>
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-10">
                                <div class="wantToWork-btn">
                                    <a href="#" class="btn f-right sm-left mr-5">Let's Talk</a>
                                    <a href="#" class="border-btn white-btn f-right sm-left  mr-5">Download CV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-5">
                            <div class="footer-copy-right">
                                <p>Copyright &copy;
                                    <script data-cfasync="false" src=".././././"></script>
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    This template is
                                    made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com/" target="_blank"
                                        rel="nofollow noopener">Colorlib</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="header-area header-area2">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper">

                                        <div class="main-menu">
                                            <nav>
                                                <ul>
                                                    <li><a href="index-2.html">Home</a></li>
                                                    <li><a href="work.html">work</a></li>
                                                    <li><a href="service.html">service</a></li>
                                                    <li><a href="blog.html">Blog</a>
                                                    </li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>