<main>

    <div class="hero-area2 d-flex align-items-center">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12">

                    <div class="hero-cap pt-50">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="our-services  section-padding40">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">

                    <div class="section-tittle mb-80">
                        <h2>My Experties</h2>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <div class="single-services">
                        <div class="services-ion">
                            <img src="assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Strategy & Direction</a></h5>
                            <p>Understand First. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="browse-btn">Head of design at Calvino</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <div class="single-services">
                        <div class="services-ion">
                            <img src="assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Strategy & Direction</a></h5>
                            <p>Understand First. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="browse-btn">Head of design at Calvino</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <div class="single-services">
                        <div class="services-ion">
                            <img src="assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Strategy & Direction</a></h5>
                            <p>Understand First. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="browse-btn">Head of design at Calvino</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6">
                    <div class="single-services">
                        <div class="services-ion">
                            <img src="assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Strategy & Direction</a></h5>
                            <p>Understand First. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="browse-btn">Head of design at Calvino</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>