<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../assets/js/popper.min.js%2bbootstrap.min.js.pagespeed.jc.2cNIGpkQNt.js"></script>
<script>eval(mod_pagespeed_xG7yePciqA);</script>
<script>eval(mod_pagespeed_jplwFBmz64);</script>

<script src="../assets/js/owl.carousel.min.js%2bslick.min.js.pagespeed.jc.yB90iVHRRx.js"></script>
<script>eval(mod_pagespeed_ayYoDTF2HC);</script>
<script>eval(mod_pagespeed_do93p0CdfB);</script>
<script
  src="../assets/js/jquery.slicknav.min.js%2bjquery.nice-select.min.js%2bwow.min.js%2banimated.headline.js%2bjquery.magnific-popup.js%2bjquery.barfiller.js%2bjquery.counteru"></script>
<script>eval(mod_pagespeed_pYmYlr1V15);</script>
<script>eval(mod_pagespeed_uF_Hs0R1yK);</script>

<script>eval(mod_pagespeed_t3UUIvS1E_);</script>
<script>eval(mod_pagespeed_lM_BWDydAX);</script>
<script>eval(mod_pagespeed_s3tj7VzYa3);</script>
<script>eval(mod_pagespeed_LEw5PMV_A6);</script>

<script>eval(mod_pagespeed_pP4tZQ6a7n);</script>
<script>eval(mod_pagespeed_WB340Cn6IE);</script>
<script>eval(mod_pagespeed_Fe4p2XJz0Z);</script>
<script>eval(mod_pagespeed_EjbAk$9k12);</script>

<script>eval(mod_pagespeed_Uth7txuY3R);</script>
<script
  src="../assets/js/jquery.form.js%2bjquery.validate.min.js%2bmail-script.js%2bjquery.ajaxchimp.min.js%2bplugins.js%2bmain.js.pagespeed.jc.GwKNnC35s8.js"></script>
<script>eval(mod_pagespeed_aNeETzPeVv);</script>
<script>eval(mod_pagespeed_vGw_gt1VZ3);</script>
<script>eval(mod_pagespeed_7vys0cqgn5);</script>
<script>eval(mod_pagespeed_MVQs$cAFal);</script>

<script>eval(mod_pagespeed_wW8jRF4g__);</script>
<script>eval(mod_pagespeed_9MjzCwZCcN);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="../../../static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"rayId":"6796df558d822d0a","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.7.0","si":10}'></script>